@{
    ViewData["Title"] = "Encryption Page";
}

<div class="text-center">
    <h1 class="display-4">Encryption page</h1>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Encryption" asp-action="SymmetricEncryption">Symmetric encryption</a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Encryption" asp-action="AsymmetricEncryption">Asymmetric encryption</a>
    </div>
</div>